  /*CSS PRA EMBELEZAR A VIDA*/

  button {
    background: none;
    border: solid 1px #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para as labels */
  label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  
  /* Estilos para os campos de entrada */
  input[type="text"] {
    width: 200px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* Estilo para os botões de envio */
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para as tabelas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para os links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  